.primeblade {
  width: 100%;
  background-color: var(--color-gray-surface);
  display: flex;
  flex-direction: column;
  gap: 2vw;

  &__main {
    min-height: 80vh;
    margin: 3rem auto 10rem;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2vw 2%;

    &-product {
      width: 32%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1.2vw;

      h6 {
        text-align: center;
        font-size: 1vw;
        font-weight: 300;
        color: var(--color-dark);
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .primeblade {
    gap: 4vw;

    &__main {
      margin: 3rem auto 6rem;
      width: 90%;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 8vw;

      &-product {
        width: 100%;
        height: auto;
        display: flex;
        gap: 2vw;

        h6 {
          text-align: center;
          font-size: 5vw;
          font-weight: 300;
          color: var(--color-dark);
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
