.footer {
  padding: 0 10vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primaryDark);

  .footer__copyright {
    width: 100%;
    align-self: center;
    text-align: center;
    font-size: 1vw;
    font-weight: 300;
    color: var(--color-gray-surface);
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer__copyright {
      padding-top: 0;
      font-size: 3.8vw;
    }
  }
}
